@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: black;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}



@layer components {
  .container-narrow {
    @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  .admin-container {
    @apply w-full  mx-auto md:w-[550px];
  }

  .auth-container {
    @apply w-full px-4 mx-auto md:w-[550px];
  }

  .card {
    @apply bg-white border border-gray-100 rounded-xl shadow-sm hover:shadow-md transition-all duration-300;
  }

  .btn {
    @apply px-4 py-2 rounded-md transition-colors duration-200 font-medium;
  }

  .btn-primary {
    @apply bg-blue-600 text-white hover:bg-blue-700;
  }

  .btn-secondary {
    @apply bg-gray-100 text-gray-800 hover:bg-gray-200;
  }

  .input {
    @apply w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500;
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  .animate-slideUp {
    animation: slideUp 0.5s ease-in-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  scroll-behavior: smooth;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior-y: none;
  position: fixed;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}
